@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVar", sans-serif;
    font-optical-sizing: auto;
  }
}

@font-face {
  font-family: "InterVar";
  font-weight: 400 600 700;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Inter/Inter.var.woff2") format("woff2-variations"),
    url("/fonts/Inter/Inter.var.woff2") format("woff2");
  src: url("/fonts/Inter/Inter.var.woff2") format("woff2") tech("variations");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter/Inter-Regular.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter/Inter-SemiBold.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter/Inter-Bold.woff2?v=3.19") format("woff2");
}
